/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes pointer-movement {
	from {
		left:-15px;
	}

	to {
		left:-11px;
	}
  }
  
  button:disabled::before {
	content:"▶";
	opacity: 0.6;
	position: absolute;
	left:-15px;
	animation-name: pointer-movement;
	animation-duration: 0.5s;
	animation-direction:alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
  }

@keyframes scale-heart {

	from{
		transform:scale(1);
	}

	to {
		transform:scale(1.1);
	}
}

.like-icon.is-liked {
	animation-name:scale-heart;
	animation-duration:0.3s;
	animation-iteration-count:1;
	animation-timing-function:ease-in;
	animation-delay: 0.1s;
	animation-direction: normal;
}

@keyframes sparks-animation {

	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}

}

.like-icon.is-liked .sparks {
	animation-name: sparks-animation;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
	animation-delay: 0.3s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards
}










  
