/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
	--weight-main-text:400;						 /*Вес шрифта основгого текста светлой темы*/
	--weight-title-text:700;					 /*Вес шрифта заголовков светлой темы*/
	--themes-main-color:#000;					/*Цвет бордеров*/
	--themes-background:#FFF;					/*Основной цвет фона*/
	--gradient-start-color:#E7E7E7 0%;			/*Цвет начала линейного градиента*/
	--gradient-end-color:#1A1A1A 100%;			/*Цвет конца линейного градиента*/
	--first-color-gradient:#d3d3d3;			/*Первый цвет повторного градиента*/
	--second-color-gradient:transparent;		 /*Второй цвет повторного градиента*/
	--color-of-obvodka:#ffffff;					/*Цвет обводки лейбла*/
	--themes-hover-button-color:#FFF;
	--color-svg:#FFF;
	--color-contour:#000;
	--color-main-body:red;
	--color-sparks:transparent;	
	--color-core:#FFF;
}

:root.theme-dark {
  --weight-main-text:465;
  --weight-title-text:785;
  --themes-main-color:#00CC14;
  --themes-background:#000;
  --gradient-start-color:#007F0C 0%;
  --gradient-end-color:#004306 100%;
  --first-color-gradient:#000;
  --second-color-gradient:transparent;
  --color-of-obvodka:#000000;
  --themes-hover-button-color:#00CC14;
  --color-svg:#00CC14;
  --color-contour:#00CC14;
  --color-main-body:red;
  --color-sparks:transparent;	
  --color-core:#FFF;
}

  @media (prefers-color-scheme: dark) {
	:root {
	--weight-main-text:465;
	--weight-title-text:785;
	--themes-main-color:#00CC14;
	--themes-background:#000;
	--gradient-start-color:#007F0C 0%;
 	--gradient-end-color:#004306 100%;
	--first-color-gradient:#000;
	--second-color-gradient:transparent;
	--color-of-obvodka:#000000;
	--themes-hover-button-color:#00CC14;
	--color-svg:#00CC14;
	--color-contour:#00CC14;
	--color-main-body:red;
	--color-sparks:transparent;	
	--color-core:#FFF;
	}
  }
  
  @media (prefers-color-scheme: light) {
	:root {
		--weight-main-text:400;
		--weight-title-text:700;
		--themes-main-color:#000;
		--themes-background:#FFF;
		--gradient-start-color:#E7E7E7 0%;
		--gradient-end-color:#1A1A1A 100%;
		--first-color-gradient:#d3d3d3;
		--second-color-gradient:transparent;
		--color-of-obvodka:#ffffff;
		--themes-hover-button-color:#FFF;
		--color-svg:#FFF;
		--color-contour:#000;
		--color-main-body:red;
		--color-sparks:transparent;	
		--color-core:#FFF;
	}
  }